<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiyoulinux.activity.mapper.CsUserTaskMapper">

    <resultMap id="BaseResultMap" type="com.xiyoulinux.activity.pojo.CsUserTask">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <id property="taskId" column="task_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="taskContent" column="task_content" jdbcType="VARCHAR"/>
        <result property="taskCreateTime" column="task_create_time" jdbcType="TIMESTAMP"/>
        <result property="taskEndTime" column="task_end_time" jdbcType="TIMESTAMP"/>
        <result property="taskStatus" column="task_status" jdbcType="INTEGER"/>

    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_id,task_content,
        task_create_time,task_end_time,task_status
    </sql>

    <update id="updateEndTimeAndStatusByTaskId">
        update cs_user_task
        set task_end_time = #{taskEndTime} and task_status = #{taskStatus}
        where task_id = #{id}
    </update>

    <delete id="deleteByTaskId">
        delete
        from cs_user_task
        where task_id = #{taskId}
    </delete>

    <select id="getPageDoingTasks" resultMap="BaseResultMap">
        select *
        from cs_user_task
        where task_status = 2
        order by task_create_time DESC
    </select>

    <select id="getPageDidTasks" resultMap="BaseResultMap">
        select *
        from cs_user_task
        where task_status = 4
        order by task_create_time DESC
    </select>

    <select id="getPageFutureTasks" resultMap="BaseResultMap">
        select *
        from cs_user_task
        where task_status = 3
        order by task_create_time DESC
    </select>
</mapper>
