<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiyoulinux.activity.comment.mapper.CsUserLikesMapper">

    <resultMap id="BaseResultMap" type="com.xiyoulinux.activity.comment.entity.CsUserLikes">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="csCommentId" column="cs_comment_id" jdbcType="VARCHAR"/>
        <result property="csUserId" column="cs_user_id" jdbcType="VARCHAR"/>
    </resultMap>


    <delete id="deleteByCsUserIdAndCsCommentId">
        delete
        from cs_user_likes
        where cs_user_id = #{csUserId,jdbcType=VARCHAR}
          AND cs_comment_id = #{csCommentId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteLikesByCsActivityId">
        delete
        from cs_user_likes
        where cs_activity_id = #{csActivityId}
    </delete>

    <select id="selectLikesUserId" resultType="java.lang.String">
        select cs_comment_id
        from cs_user_likes
        where cs_comment_id in
        <foreach collection="commentIdList" item="commentId" open="(" close=")" separator=",">
            #{commentId}
        </foreach>
        and cs_user_id = ${userId};
    </select>
</mapper>
